{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container" style="margin: 50px auto">
    <h1 class="text-center my-4">
      <a href="{% url 'home' %}"> <img src="{% static 'image/andnowuknow.svg' %}" style="width: 270px"> </a>
    </h1>
    {% if error_message %}
      <span style="color: #ff0000; margin-bottom: 20px; display: block; text-align: center;">{{ error_message }}</span>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
