{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh Produce Company Directory | And Now U Know</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900|Fjalla+One|Roboto+Condensed:400,700" rel="stylesheet" type="text/css" />

    <!-- Stylesheets-->
    <link type="text/css" rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static './css/simplePagination.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static './css/andnowuknow.css' %}" />
</head>

<!-- Header -->
<header>
    <!-- social icons -->
    <div id="container">
        <!-- social icons of header-->
        <div class="frosting">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12"></div>
                    <div class="col-md-3 col-sm-12 text-right hidden-sm hidden-xs">
                        <a href="https://instagram.com/andnowuknow" alt="andnowuknow on Instagram" target="_blank" class="btn btn-default">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.youube.com/user/andnowuknow" alt="andnowuknow on YoutuTe" target="_blank" class="btn btn-default">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/andnowuknow" alt="andnowuknow on Linkedin" target="_blank" class="btn btn-default">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.twitter.com/andnowuknow" alt="andnowuknow on twitter" target="_blank" class="btn btn-default">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/andnowuknow" alt="andnowuknow on Facebook" target="_blank" class="btn btn-default">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container p-0">
            <a class="navbar-brand" href="#"> <img src="{% static './image/andnowuknow.svg'%}" class="logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="newsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</span></a>
                        <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                            <li class="first leaf"><a href="{% url 'login' %}">Behind the Greens</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">Buyside News</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">Product Showcase</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">Shop Talk</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">Special Reports</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">The Bloom</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">Quick Dish</a></li>
                            <li class="leaf"><a href="{% url 'login' %}">What's In Store</a></li>
                            <li class="last leaf"><a href="{% url 'login' %}">Headlines</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Categories</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Companies</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/produce-jobs" id="jobsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jobs</a>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                            <a class="dropdown-item" title="Fresh Produce Jobs" href="{% url 'login' %}" target="_blank">Fresh Produce Jobs</a>
                            <a class="dropdown-item" title="Post my Job" href="{% url 'login' %}" target="_blank">Post Your Jobs</a>
                            <a class="dropdown-item" title="Joe Produce Job Recruiting" href="{% url 'login' %}" target="_blank">Recruiting</a>
                            <a class="dropdown-item" title="Resume writing" href="{% url 'login' %}" target="_blank">Resume Writing</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Subscribe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeEsodgak9HhIM2MmjZOxB8grFGXAufeQOpF-32vlRmB-y-Dw/closedform" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact Us
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                            <a class="dropdown-item" href="{% url 'login' %}">Email</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Upload a Press Release</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Main Section -->
<div class="main-container container">
    <div class="row">
        <div class="filling">
            <section class="col-sm-12">
                <h1 class="page-header">Fresh Produce Company Directory</h1>
                <div class="region region-content">
                    <section id="block-views-company-list-block" class="block block-views clearfix">
                        <div class="view-filters">
                            <form action="/" method="get" id="views-exposed-form-company-list-block" class="jquery-once-1-processed">
                                <div>
                                    <div class="views-exposed-form">
                                        <div class="views-exposed-widgets clearfix">
                                            <div id="edit-name-wrapper" class="views-exposed-widget views-widget-filter-name">
                                                <label for="edit-name"> Search by Name </label>
                                                <div class="views-widget">
                                                    <div class="form-item form-item-name form-type-textfield form-group">
                                                        <input class="form-control form-text" type="text" id="edit-name" name="name" value="" size="30" maxlength="128">
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %} <div class="views-exposed-widget views-submit-button">
                                                <button type="submit" id="edit-submit-company-list" name="" value="Apply" class="btn btn-info form-submit">Apply</button>
                                            </div> {% endcomment %}
                                            <div class="views-exposed-widget views-reset-button">
                                                <button type="submit" id="edit-reset" name="op" value="Reset" class="btn btn-default form-submit">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="view-content">
                            <div class="row company-list">
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="10944"><a href="{% url 'pantheonsiteApp:48fortySolutions' %}">48forty Solutions</a></h4>
                                    <a href="{% url 'pantheonsiteApp:48fortySolutions' %}" title="48forty Solutions" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/48forty-solutions_comp_pro_mar_2018.jpg'%}"
                                            alt="48forty Solutions">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="4444"><a href="{% url 'pantheonsiteApp:4earthFarms' %}">4Earth Farms</a></h4>
                                    <a href="{% url 'pantheonsiteApp:4earthFarms' %}" title="4Earth Farms" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/4earth-farms_comp_pro_apr_2016.jpg'%}"
                                            alt="4Earth Farms">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="16261"><a href="{% url 'pantheonsiteApp:organicFarms' %}">A &amp; A Organic Farms</a></h4>
                                    <a href="{% url 'pantheonsiteApp:organicFarms' %}" title="A &amp; A Organic Farms" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/aa_farms_copro_logo.jpg'%}" alt="A &amp; A Organic Farms">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:coldStorage' %}">A-1 Cold Storage</a></h4>
                                    <a href="{% url 'pantheonsiteApp:coldStorage' %}" title="A-1 Cold Storage" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/a-1_coldstorage.jpg'%}" alt="A-1 Cold Storage">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="12413"><a href="{% url 'pantheonsiteApp:thomasProduce' %}">A. V. Thomas Produce</a></h4>
                                    <a href="{% url 'pantheonsiteApp:thomasProduce' %}" title="A. V. Thomas Produce" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/avthomas-pmg.png'%}" alt="A. V. Thomas Produce">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3942"><a href="{% url 'pantheonsiteApp:abbottCobb' %}">Abbott &amp; Cobb</a></h4>
                                    <a href="{% url 'pantheonsiteApp:abbottCobb' %}" title="Abbott &amp; Cobb" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/abbotCobb.jpg'%}" alt="Abbott &amp; Cobb"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="4104"><a href="{% url 'pantheonsiteApp:abcResearchLabs' %}">ABC Research Labs</a></h4>
                                    <a href="{% url 'pantheonsiteApp:abcResearchLabs' %}" title="ABC Research Labs" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/ABCresearch_profile.jpg'%}" alt="ABC Research Labs"></a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="6310"><a href="{% url 'pantheonsiteApp:abl' %}">ABL</a></h4>
                                    <a href="{% url 'pantheonsiteApp:abl' %}" title="ABL" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/abl_comp_pro_jun_2015.jpg'%}" alt="ABL"></a>
                                </div>
                                {% comment %} <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="10944"><a href="{% url 'pantheonsiteApp:48fortySolutions' %}">Able Freight Services</a></h4>
                                    <a href="{% url 'pantheonsiteApp:48fortySolutions' %}" title="Able Freight Services" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/ablefreight.jpg'%}"
                                            alt="Able Freight Services">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="4444"><a href="{% url 'pantheonsiteApp:48fortySolutions' %}">Accu-Label</a></h4>
                                    <a href="{% url 'pantheonsiteApp:48fortySolutions' %}" title="Accu-Label" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/acculabel_copro.jpg'%}"
                                            alt="Accu-Label">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="16261"><a href="{% url 'pantheonsiteApp:48fortySolutions' %}">Adam Brothers</a></h4>
                                    <a href="{% url 'pantheonsiteApp:48fortySolutions' %}" title="Adam Brothers" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive" src="{% static './image/adam-brothers-produce.jpg'%}" alt="Adam Brothers">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:48fortySolutions' %}">ADS Management</a></h4>
                                    <a href="{% url 'pantheonsiteApp:48fortySolutions' %}" title="ADS Management" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/adsmanagment_copro1.jpg'%}" alt="ADS Management">
                                    </a>
                                </div> {% endcomment %}
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:amerifresh' %}">Amerifresh</a></h4>
                                    <a href="{% url 'pantheonsiteApp:amerifresh' %}" title="Amerifresh" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/Picture 4.png'%}" alt="Amerifresh">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:amhpac' %}">AMHPAC - Asociación Mexicana de Horticultura Protegida AC</a></h4>
                                    <a href="{% url 'pantheonsiteApp:amhpac' %}" title="AMHPAC - Asociación Mexicana de Horticultura Protegida AC" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/amhpac-logo.jpg'%}" alt="AMHPAC - Asociación Mexicana de Horticultura Protegida AC">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:ampco' %}">Ampco Distribution Services L.L.C.</a></h4>
                                    <a href="{% url 'pantheonsiteApp:ampco' %}" title="Ampco Distribution Services L.L.C." class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/ads-fresh_copro.png'%}" alt="Ampco Distribution Services L.L.C.">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6 company-listing">
                                    <h4 class="company-title" data-atid="3941"><a href="{% url 'pantheonsiteApp:amrAgro' %}">AMR Agro</a></h4>
                                    <a href="{% url 'pantheonsiteApp:amrAgro' %}" title="AMR Agro" class="company-logo-image-link">
                                        <img width="200" height="200" class="company-logo img-responsive"  src="{% static './image/amrexporganicologo_0.jpg'%}" alt="AMR Agro">
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center d-flex">
                                <div id="pagination-container"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
<hr class="footer-break">
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <address>
                    <strong> andnowuknow.com </strong>
                    <br> 2005 Capitol Ave. <br> Sacramento, CA 95811 <br> <abbr title="Phone"> P:</abbr> (916) 346-4511  <br> 
                </address>
                <address>
                    <strong> Press & Editorial </strong>
                    <br> <strong><a href="mailto:pr@andnowuknow.com" target="_blank" titile="Email Our Press & Editorial Staff">pr@andnowuknow.com</a></strong> <br>
                    <abbr title="Phone"> P:</abbr> (916) 346-4511 <hr>
                    <strong> Sales and Advertising </strong>
                    <br> <strong><a href="mailto:sales@andnowuknow.com" target="_blank" titile="Email Our Sales and Advertising Staff">sales@andnowuknow.com</a></strong> <br>
                    <abbr title="Phone"> P:</abbr> (916) 449-2725  <br>  
                </address>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                        News Sections <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'login' %}">Buyside News</a></li>
                        <li><a href="{% url 'login' %}">Behind the Greens</a></li>
                        <li><a href="{% url 'login' %}">Headlines</a></li>
                        <li><a href="{% url 'login' %}">Quick Dish</a></li>
                        <li><a href="{% url 'login' %}">Shop Talk</a></li>
                        <li><a href="{% url 'login' %}">Special Reports</a></li>
                        <li><a href="{% url 'login' %}">The Bloom</a></li>
                        <li><a href="{% url 'login' %}">Product Showcase</a></li>
                        <li><a href="{% url 'login' %}">What's In Store</a></li>
                    </ul>
                </div>
                <hr>
                <ul class="list-unstyled">
                    <li><a href="/produce-jobs" title="Produce Jobs">Fresh Produce Jobs</a></li>
                    <li><a href="{% url 'login' %}" title="Categories">Fresh Produce Categories</a></li>
                    <li><a href="/" title="Companies">Fresh Produce Companies</a></li>
                    <li><a href="{% url 'login' %}" title="Subscribe">Subscribe to Our Newsletter</a></li>
                    <li><a href="/contact-anuk" title="Contact Us">Contact Our Staff</a></li>
                    <li><a href="/testimonials" title="Testimonials">Testimonials</a></li>
                    <li><a href="/terms-of-service" title="Terms of Service">Terms of Service |</a><a href="/privacy-policy" title="Privacy Policy"> Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="text-center">
                    © 2008 - 2021 <strong><a href="/" title="AndNowUKnow">andnowuknow.com</a></strong>
                </div>
                <hr>
                <div class="row social-footer-block">
                    <div class="col-lg-2 col-sm-2 col-xs-2"><a class="btn btn-radius text-center" alt="ANUK on Facebook" href="https://www.facebook.com/andnowuknow" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                    <div class="col-lg-2 col-sm-2 col-xs-2"><a class="btn btn-radius text-center" alt="ANUK on Twitter" href="https://www.twitter.com/andnowuknow" target="_blank"><i class="fab fa-twitter"></i></a></div>
                    <div class="col-lg-2 col-sm-2 col-xs-2"><a class="btn btn-radius text-center" alt="ANUK on Linkedin" href="http://www.linkedin.com/company/andnowuknow" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
                    <div class="col-lg-2 col-sm-2 col-xs-2"><a class="btn btn-radius text-center" alt="ANUK on YouTube" href="http://www.youtube.com/user/andnowuknow" target="_blank"><i class="fab fa-youtube"></i></a></div>
                    <div class="col-lg-2 col-sm-2 col-xs-2"><a href="https://instagram.com/andnowuknow" class="btn btn-radius text-center" alt="ANUK on Instagram" target="_blank"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% comment %} <script src="{% static './js/jquery.min.js' %}"></script> {% endcomment %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static './js/popper.min.js' %}"></script>
<script src="{% static './js/bootstrap.min.js' %}"></script>
<script src="{% static './js/jquery.searcher.js' %}"></script>
<script src="{% static './js/jquery.simplePagination.js' %}"></script>
<script>
    var items = $(".company-listing");
    var numItems = items.length;
    var perPage = 8;

    $("#pagination-container").pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function(pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });

    //... filter menu

    $(".company-list").searcher({
        itemSelector: ".company-listing",
        textSelector: "a",
        inputSelector: "#edit-name",
        highlight: "<span class='highlight'>$1</span>",
        toggle: function(item, containsText) {
            if (containsText)
                $(item).fadeIn();
            else
                $(item).fadeOut();
        }
    });

</script>
</body>

</html>